  body {
  background: #BAC4C5;
  font: {
    family: Helvetica, Arial, sans-serif;
    size: 16px;
  }
  margin: 0;
  padding: 30px;

  .container-fluid {
    position: absolute;
    display: block;
    background: #f9f9f9;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: {
      top: -29px;
      right: 0;
      bottom: 0;
      left: -155px;
    }
    font: {
      family: 'Quicksand', sans-serif;
      size: 3em;
      weight: 300;
    }
    text: {
      align: center;
    }
    cursor: default;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;

    &:hover {
      text-shadow: 2px 2px #ccc;
    }
  }

  .squares {
    position: absolute;
    height: 350px;
    width: 350px;
    border: 2px solid #2ECC71;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    left: 50%;
    top: 50%;
    margin: {
      top: -175px;
      left: -175px;
    }

    &:before {
      content: "";
      position: absolute;
      border: 2px solid #3498DB;
      width: 350px;
      height: 350px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      -moz-transform-origin: center center;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -moz-transform: rotate(-120deg);
      -webkit-transform: rotate(-120deg);
      transform: rotate(-120deg);
    }

    &:after {
      content: "";
      position: absolute;
      border: 2px solid #E74C3C;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      height: 350px;
      width: 350px;
      -moz-transform-origin: center center;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -moz-transform: rotate(120deg);
      -webkit-transform: rotate(120deg);
      transform: rotate(120deg);
    }
  }
}